.message {
  border: solid 1px #fff;
  padding: 10px;
  position: relative;
}

.message:not(:first-child) {
  margin-top: 50px;
}

.message > dl:not(:first-child) {
  margin-top: 10px;
}

.message dl.date {
  background-color: #272822;
  display: inline-block;
  bottom: calc(100% - 0.5rem);
  font-size: 1rem;
  left: 50%;
  line-height: 1rem;
  padding: 0 10px;
  position: absolute;
  transform: translateX(-50%);
}

.message > dl > dt {
  display: none;
}